In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/stackoverflow_dev_survey/survey_results_schema.csv')
# df = pd.read_csv('../data/stackoverflow_dev_survey/survey_results_schema.csv', index_col='qid')
df.head(5)

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [9]:
# The index that you set must be unique.

df.set_index('qid', inplace=True)

In [6]:
df.head(5)

,qname,question,force_resp,type,selector
qid,,,,,
QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
QID312,Q120,,True,MC,SAVR
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [7]:
df.loc['QID12']

qname                  MetaInfo
question      Browser Meta Info
force_resp                False
type                       Meta
selector                Browser
Name: QID12, dtype: object

In [8]:
df.reset_index(inplace=True)
df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...,...
73,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
74,QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
75,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
76,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
77,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [12]:
# Sorting indexes:

df.sort_index(ascending=True, inplace=True)
df

,qname,question,force_resp,type,selector
qid,,,,,
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,SAVR
QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,SAVR
QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,SAVR
QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,SAVR
...,...,...,...,...,...
QID51,CompTotal,What is your current total <b>annual</b> compe...,False,TE,SL
QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB